@import url(http://fonts.googleapis.com/css?family=Lato:400);
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

body {
  background: url("../img/body-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 2.4rem;
  height: 100vh;
  padding: 0;
  margin: 0; }

.navigation-menu__bars,
.navigation-menu__bars::after,
.navigation-menu__bars::before {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 25px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.navigation-menu {
  background-color: transparent;
  height: 100%;
  position: fixed;
  width: 600px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.navigation-menu::before {
  background: #000000;
  content: '';
  height: 400%;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  z-index: 0; }

.navigation-menu--open {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.navigation-menu--open .navigation-menu__bars {
  background-color: transparent; }

.navigation-menu--open .navigation-menu__bars::after,
.navigation-menu--open .navigation-menu__bars::before {
  top: 0; }

.navigation-menu--open .navigation-menu__bars::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.navigation-menu--open .navigation-menu__bars::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.navigation-menu--open .menu-list__item {
  opacity: 1; }

.navigation-menu--open .menu-list__item:nth-child(1) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.navigation-menu--open .menu-list__item:nth-child(2) {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s; }

.navigation-menu--open .menu-list__item:nth-child(3) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s; }

.navigation-menu--open .menu-list__item:nth-child(4) {
  -webkit-transition-delay: 1.75s;
          transition-delay: 1.75s; }

.navigation-menu--open .menu-list__item:nth-child(5) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s; }

.navigation-menu--open .menu-list__item:nth-child(6) {
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s; }

.navigation-menu--open .menu-list__item:nth-child(7) {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }

.navigation-menu--open .menu-list__item:nth-child(8) {
  -webkit-transition-delay: 2.75s;
          transition-delay: 2.75s; }

.navigation-menu--open .menu-list__item:nth-child(9) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s; }

.navigation-menu--open .menu-list__item:nth-child(10) {
  -webkit-transition-delay: 3.25s;
          transition-delay: 3.25s; }

.navigation-menu--open .menu-list__item:nth-child(11) {
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s; }

.navigation-menu--open .menu-list__item:nth-child(12) {
  -webkit-transition-delay: 3.75s;
          transition-delay: 3.75s; }

.navigation-menu__toggle {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -40px;
  top: 5px;
  width: 30px; }

.navigation-menu__bars::after,
.navigation-menu__bars::before {
  content: ''; }

.navigation-menu__bars::before {
  left: 0;
  top: -8px; }

.navigation-menu__bars::after {
  left: 0;
  top: 8px; }

.menu-list {
  padding: 60px 20px;
  position: relative;
  z-index: 10; }

.menu-list__item {
  margin: 40px 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s; }

@media only screen and (max-width: 700px) {
  .navigation-menu {
    min-width: 240px;
    width: 80%; }
  .navigation-menu::before {
    width: 110%; } }

@media only screen and (max-width: 480px) {
  .navigation-menu {
    background-color: #4E567E;
    min-width: 240px;
    width: 80%; }
  .navigation-menu::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); } }

nav ul {
  list-style: none; }

.head {
  height: 800px;
  background-color: #3F51B5; }

.body1 {
  height: 500px;
  background-color: #FBC02D; }

.body2 {
  height: 400px;
  background-color: #4CAF50; }

.footer {
  height: 800px;
  background-color: #212121; }

a {
  color: inherit;
  text-decoration: none; }

nav a:hover {
  color: #d9d9d9; }

.head h1 {
  margin: 0;
  text-align: center; }

@media (min-width: 900px) {
  .nav.spacer {
    height: 100px; }
  .navigation-menu {
    background-color: #000;
    top: 0;
    -webkit-transform: initial;
            transform: initial;
    z-index: 100;
    height: 100px;
    width: 100vw; }
    .navigation-menu::before {
      content: initial; }
  .navigation-menu__toggle.js-nav-menu-toggle {
    display: none; }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    height: 100%;
    margin: 0; }
    .menu-list .menu-list__item {
      -webkit-transition: all ease-in-out 200ms;
      transition: all ease-in-out 200ms;
      color: #fff;
      opacity: 1;
      margin: 0; }
      .menu-list .menu-list__item, .menu-list .menu-list__item a {
        height: 100%;
        width: 100%; }
      .menu-list .menu-list__item a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: unset;
        -webkit-transition: none;
        transition: none; }
      .menu-list .menu-list__item:hover {
        background-color: #fff;
        color: #000; } }
