@import url(http://fonts.googleapis.com/css?family=Lato:400);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background: url("../img/body-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 2.4rem;
  height: 100vh; // this is a problem. Because of this, all other content is technically "overflow". changing height to min-height fixes it but then background-image doesn't work as expected.
  // overflow: hidden;
  padding: 0;
  margin: 0;
}

.navigation-menu__bars,
.navigation-menu__bars::after,
.navigation-menu__bars::before {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 25px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  transition: all 0.3s;
}

.navigation-menu {
  background-color: transparent;
  height: 100%;
  position: fixed;
  width: 600px;
  transform: translateX(-100%);
  transition: transform 0.3s 0.3s;
}

.navigation-menu::before {
  background: #000000;
  content: '';
  height: 400%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  z-index: 0;
}

.navigation-menu--open {
  transform: translateX(0);
}

.navigation-menu--open .navigation-menu__bars {
  background-color: transparent;
}

.navigation-menu--open .navigation-menu__bars::after,
.navigation-menu--open .navigation-menu__bars::before {
  top: 0;
}

.navigation-menu--open .navigation-menu__bars::before {
  transform: rotate(45deg);
}

.navigation-menu--open .navigation-menu__bars::after {
  transform: rotate(-45deg);
}

.navigation-menu--open .menu-list__item {
  opacity: 1;
}
@for $i from 1 through 12 {
  .navigation-menu--open .menu-list__item:nth-child(#{$i}) {
    transition-delay: 0.33s + 0.25 * ($i - 1);
  }
}

.navigation-menu__toggle {
  border: none; // these reset browser styles
  background: none; // these reset browser styles
  text-align: initial; // these reset browser styles
  align-items: initial; // these reset browser styles
  color: inherit; // these reset browser styles
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -40px;
  top: 5px;
  width: 30px;

  &:focus {
    outline-width: thin;
  }
}

.navigation-menu__bars::after,
.navigation-menu__bars::before {
  content: '';
}

.navigation-menu__bars::before {
  left: 0;
  top: -8px;
}

.navigation-menu__bars::after {
  left: 0;
  top: 8px;
}

.menu-list {
  padding: 60px 20px;
  position: relative;
  z-index: 10;
}

.menu-list__item {
  margin: 40px 0;
  opacity: 0;
  transition: opacity 0.5s 0.5s;
}
@media only screen and (max-width: 700px) {
  .head h1 {
    padding-top: 2em;
  }

  .navigation-menu {
    min-width: 240px;
    width: 80%;
  }

  .navigation-menu::before {
    width: 110%;
  }
}
@media only screen and (max-width: 480px) {
  .navigation-menu {
    background-color: #111;
    min-width: 240px;
    width: 80%;
  }

  .navigation-menu::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

nav ul {
  list-style: none;
}
// colors are taken from:
// https://material.io/guidelines/style/color.html
// anything following a dollar $ is a sass variable
$blue: #3F51B5;
$yellow: #FBC02D;
$green: #4CAF50;
$black: #212121;

.head {
  height: 800px;
  background-color: $blue; // anything following a dollar $ is a sass variable
}

.body1 {
  height: 500px;
  background-color: $yellow;
}

.body2 {
  height: 700px;
  background-color: $green;
  border-bottom: 300px solid $black;
  border-left: 1900px solid transparent; //this may be an issue for screens bigger or smaller than 1920 by 1080 px
}

.footer {
  height: 600px;
  background-color: $black;
}
section{
  height:100px;//footer+body2 height



}

a {
  color: inherit;
  text-decoration: none;
}
$nav-link-color: darken(#fff, 30%);

nav {
  a {
    display: inline-block;
    position: relative;
    transition: all ease-out 200ms;

    &:focus,
    &:hover {
      color: $nav-link-color; // darken is a sass function

      &::after {
        width: 100%;
      }
    }

    &:after {
      content: '';
      display: block;
      transition: all ease-out 200ms;
      height: 2px;
      width: 0;
      background-color: $nav-link-color;
    }
  }
}

a {}

.head {
  h1 {
    margin: 0;
    text-align: center;
  }
}
// Nav on desktop
@media (min-width: 900px) {
  nav + * {
    margin-top: 100px;
  }

  .navigation-menu {
    background-color: #000;
    top: 0;
    transform: initial;
    transition: none;
    z-index: 100;
    height: 100px;
    width: 100vw;

    &::before {
      content: initial;
    }
  }

  .navigation-menu__toggle.js-nav-menu-toggle {
    display: none;
  }

  .menu-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 100%;
    margin: 0;

    .menu-list__item {
      transition: all ease-in-out 200ms;
      color: #fff;
      opacity: 1;
      margin: 0;

      &,
      a {
        height: 100%;
        width: 100%;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: unset;
        transition: none;

        &:focus {
          outline-width: thin;
        }

        &:focus,
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }

<<<<<<< HEAD
=======

>>>>>>> fe188d8133f00015ccf23500dc9fc780d5af534d
  nav {
    a {
      display: inline-block;

      &:focus,
      &:hover {
        color: $nav-link-color;

        &::after {
          transition-duration: 400ms;
          width: 60%;
          max-width: 6em;
        }
      }

      &:after {
        content: '';
        position: absolute;
        height: 0.2em;
        bottom: 0.5em;
        border-radius: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $nav-link-color;
      }
    }
  }
}
//hope my placement of the code is right

.footer {
  position: relative;
  width: 100%;
  height: 400px;
}

.footer:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-10deg);
}
