.body2 {
  height: 700px;
  background-color: $green;
  border-bottom: 300px solid $black;
  border-left: 1900px solid transparent;
}

.body2 {
  height: 700px;
  background-color: $green;
  border-bottom: 300px solid $black;
  border-left: 1900px solid transparent;
}