#contactform {
  width: 500px;
  border: 5px solid #fff;
  padding: 1em;
  max-width: 100%;

  textarea {
    padding: .4em;
    width: 100%;
    max-width: 400px;
    resize: vertical;
    margin: 0;
  }

  label,
  input {
    display: block;
  }

  textarea,
  .information {
    border: 2px solid #d6d6d6;
  }

  label {
    font-size: 2rem;
    margin-top: .25em;
    width: fit-content;
  }

  .information {
    margin-bottom: 1rem;
  }
  h4 {
    text-align: center;
    margin: 1rem auto .5rem;
  }

  fieldset {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: none;
  }

  .form-btn {
    display: flex; // bug with chrome -- refer to /TODO.md
  }
}
