*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 62.5%;
  width: 100vw;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

body {
  background-size: cover;
  color: #fff;
  font-size: 2.4rem;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

label {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}