#contactform {
  width: 500px;
  border: 5px solid #fff; }

#contactform {
  padding: 1em; }
  #contactform textarea {
    padding: .4em;
    width: 400px;
    resize: vertical;
    margin: 0; }
  #contactform textarea,
  #contactform .information {
    border: 2px solid #d6d6d6; }
  #contactform label {
    font-size: 2rem; }
  #contactform .information {
    margin-bottom: 1rem; }
  #contactform h4 {
    text-align: center;
    margin: 1rem auto .5rem; }
  #contactform fieldset {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: none; }
